
<template>
   <div class="message">
   
     <div class="dropdown-menu">
     <div class="count">{{notifications.length}}</div>
            <ul>
             
              <li>
              
                
                  
                  <div class="message">
                    <div class="content">
                      <div class="title"> </div>
                      
                    </div>
                  </div>
               
                
              </li>
              
               <li v-for="notification in notifications">
                
                 <a href="#" v-on:click="MarkAsRead(notification)">
                Nueva oferta id{{notification.data.oferta.id}}</a>
              </li>

              <li v-if="notifications.length == 0">
                There is no new notifications
            </li>
              
            </ul>
          </div>
          </div>
</template>

<script>
   export default {
    props:['notifications'],
      methods:{
        MarkAsRead: function(notification){
          var data = {
            id: notification.id
          };

          axios.post('notification/read',data).then(response=>{
            window.location.href = "ofertas/" + notification.data.oferta.id + "/edit/";

          });


        }
      }
  }
</script>
</div>